{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-work-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "section" .Section "content" .)}}
<div class="container pt-4 pt-md-10 pb-4 pb-md-10">
  <div class="row justify-content-start">

    <div class="col-12 col-md-8">
      <div class="work work-single">
        <div class="content">{{.Content}}</div>
      </div>
    </div>

    {{ if .Params.images }}
    <div class="col-12 col-md-8">
      <div class="work work-single">
        <h1>Screenshots</h1>
        <div id="carouselControls" class="carousel slide pb-md-4" data-ride="carousel">
          <div class="carousel-inner">
            {{ range $index, $image := .Params.images }}
            <div class="carousel-item {{ if (eq $index 0) }}active{{ end }}">
              <img src="{{ $image.url }}" class="d-block w-100" alt="{{ $image.name }}">
            </div>
            {{ end }}
          </div>
          <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    {{ end }}

    {{ if .Params.technologies }}
    <div class="col-12 col-md-8">
      <div class="work work-single">
        <h1>Technologien</h1>
        {{ $selectedTechnologies := .Params.technologies }}
        {{ range $index, $technology := .Site.Data.technologies }}
        {{ if in $selectedTechnologies $technology.key }}
          <a href="{{ $technology.link }}" target="_blank"><img src="{{ $technology.logo }}" alt="{{ $technology.name }}"></a>
        {{ end }}
        {{ end }}
      </div>
    </div>
    {{ end }}
    
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $work := resources.Get "js/pages/work.js" }}
{{ $workJS := slice $library $work | resources.Concat "js/work.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $workJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($workJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}