.page-work-single {
  h1.title {
    font-size: 3rem;
    font-family: $font-family-heading;
    color: $primary;
  }
  .work-image {
    img {
      width: 100%;
      height: auto;
    }
  }
  .content {
    > p {
      &:first-of-type {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 40px;
        font-weight: 300;
      }
    }
  }
  .carousel {
    height: 500px;
    margin-top: 10px;
    margin-bottom: 20px;

    .image {
      background-size: contain;
      height: 500px;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &:hover {
      .carousel-control-prev, .carousel-control-next {
        background: rgba(0,0,0,0.2);
      }
    }
  }

  .tech-image {
    background-size: contain;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 46px;
    width: 46px;
    float: left;
  }
}
